<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
    
      
    </style>
  </head>
  <body <div style="background-image: url('images/fondo1.jpg');"></div>>
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Holaa!!</strong> Espero que tengas una buena experiencia.  
    </div>
   <%- include('partials/navbar'); %>

   <div class="jumbotron">  
    
     <h1 class="display-4">Bienvenido al Mejor Sitio del Universo</h1>
     <p class="lead">Comienza la aventura</p>
         
     <hr class="my-4">
     <p>Este es el sitio de Adrian Eduardo Villanueva para la clase de Aplicaciones orientadas al servicio.</p>
    
     
     <div>
     <%- include('partials/slider'); %>
    </div>
     <div>
     <%- include('partials/acordeon'); %>
    </div>
   </div>
  
   
   <%- include('partials/script'); %>
  
   
  </body>
   <foote>
     <%- include('partials/footer'); %>
   </foote>

</html>